

<p>Did you know that in the U.S. alone, more than six million people qualify for membership? That's actually one person in every 50. Unfortunately, most don't realize that they qualify and haven't even considered membership. If you are considering joining Mensa, there are two ways to become a member. You can either sit for the Mensa Admissions Test (if you are 14 years of age or older) or you can submit prior evidence from nearly 200 tests like the Stanford Binet, the Miller Analogies Test or the GMAT.</p>

 

<p>If you are interested in taking the Mensa Admissions test, check out our testing schedule or contact our Testing Coordinator Blakeney Bartlett.

